@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


#wrapper{
    background: #E4EBF5;
    width: 100vw;
    height: auto;
}


.confirm-popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}


.confirm-popup {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 2vmin;
    padding: 3vmin;
    min-width: 200px;
    width: 20vw;
    background: white;
    border: 1px rgba(115, 108, 204) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.confirm-button-container {
    display: flex;
    flex-flow: row nowrap;

}

.confirm-button {
    background: rgba(115, 108, 204);
    color: white;
    margin: 1vmin;
}


